* {
  font-family: 'Arial', sans-serif;
  color: cornsilk;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/static/images/background3.jpg");
  background-repeat: repeat;
  background-size: cover;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

ul{
  height: 500px;
  overflow: auto;
}

.header{
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.7);
  border: 1px solid cornsilk;
  text-align: left;
  width: auto;
  margin: 10px;
}

button {
  color: cornsilk;
  border: 1px solid cornsilk;
  border-style: indented;
  background: transparent;
  padding: 5px;
  width: 30%;
  display: block;
  position: relative;
  margin-top: 40px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 110%;
  margin-left: auto;
  margin-right: auto;
}

button:hover{
  color: black;
  background-color: cornsilk;
  border: 1px solid black;
  cursor: pointer;
}

li {
  color: cornsilk;
  border: 1px solid cornsilk;
  border-style: indented;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 110%;
}

li:hover {
  color: black;
  background-color: cornsilk;
  border: 1px solid black;
  cursor: pointer;
}

.container{
  width: 100%;
  text-align: center;
}

table, th ,td {
  padding: 2px;
  margin-top: 10px;
  font-size: 110%;
  margin-left: auto;
  margin-right: auto;
  color: cornsilk;
  border: 1px solid cornsilk;
  border-style: indented;
  background-color: hsla(0, 0%, 0%, 0.3);
  text-align: left;
  position: relative;
  table-layout:fixed;
}

#inputTable{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
  margin-left: auto;
  margin-right: auto;
  border-style: hidden;
  background: transparent;
}

input[type=text] {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 110%;
  color: cornsilk;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 8px;
}

input[type=text]:focus{
  outline: none;
  box-shadow: none;
  border-bottom: none;
  color: black;
  background-color: cornsilk;
}

input[type=text]:disabled {
  border-style: inset;
  border-color: cornsilk;
}

input[type=text]:not([disabled]):hover {
  color: black;
  background-color: cornsilk;
}

#selectedQuote{
  margin-top: 10px;
  width: 80%;
}

#selectedAuthor{
  margin-top: 10px;
  width: 80%;
}

#selectedId{
  margin-top: 10px;
  width: 80%;
}

#randomQuote{
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  td {
      display: block;
  }
  body{
    animation: slide 20s linear infinite;
  }
}
